/assets/
/protected/runtime/
/protected/runtime/application.log
/protected/config/main.php
*.log
/ximages
/.idea/*
/.idea/*
/.idea/workspace.xml
protected/runtime/application.log
protected/runtime/application.log
